body{
    color: white;
    background: #000000 url("../img/tint.jpg")no-repeat center top;
    min-width: 960px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin:0;
    padding: 0;

}

.main-navigation {
float: left;
    width: 780px;
    min-height: 70px;
}

.main-navigation ul{
    margin: 0;
    padding: 0;
list-style: none;
    font-size: 0;
}

.main-navigation li{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation a{
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation a:hover{
    background: #242424;
}

.clearfix:after{
    content: "";

    display: table;
    clear: both;
}

.container{
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}
.main-header{
    margin-bottom: 60px;
    color: #ffffff;
    background-color: #000000;

}

.index-logo{
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
    }

.index-logo{
    width: 368px;
    height: 204px;
}

.user-block{
    max-width: 140px;
    float: right;
    }

.login{
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 25px 20px;
    padding-left: 50px;
}

.login:hover{
    background-color: #242424;
}

.login::before{
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("../img/ww.png") no-repeat;
    }

.features{
    margin-bottom: 80px;
}

.features-item{
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}
.features-name{
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    padding-bottom: 35px;
}
.features-name::after{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.features-item p{
    margin: 10px;
    margin-bottom: 0;
}

.features-item:last-child{
    margin-right: 0;
}
.index-content{
    margin-bottom: 35px;
    padding: 50px 80px;
    color: #000000;
    background:url("../img/content-shadow.png")no-repeat center,
    #f8f5f2 url("../img/layer.jpg");

}

.index-content-left{
   width: 380px;
    float: left;
    min-height: 330px;
}
.index-content-right{
    width: 300px;
    float: right;
    min-height: 330px;
}
.index-content-title{
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.index-content p{
    margin: 0;
    margin-bottom: 25px;
}
.news-priview{
    margin: 0;
    padding: 0;
    padding-right: 35px;
    list-style: none;
}
.news-priview li{
    margin-bottom: 25px;
}
.news-priview p{
    margin-bottom: 0;
}
.news-priview time{
   text-transform: none;
    font-weight: 400;
}

.btn{
    display: inline-block;
    padding: 10px 33px;
    margin-right: 16px;
    text-align: center;
    vertical-align: top;
    color:#ffffff;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover,
.btn:active{
    background-color: #663d15;
}

.btn.disabled,
    .btn:disabled{
cursor: default;
    apacity:05;
}

.btn.disabled:hover,
.btn:disabled:hover{
    background-color: black;
}

.gallery{
    position: relative;
    height: 260px;
}

.gallery-content{
    height: 164px;
    margin: 0;
    border: 7px solid #ffffff;
}
.gallery-content img{
    width: 268px;
    height: 164px;
}

.gallery .btn{
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
 }

.gallery-prev{
    left: 0;
}
.gallery-next{
    right: 0;
}

.appointment-form input{
    width: 106px;
    padding:7px 15px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#000000;
    text-transform: uppercase;
}

.appointment-form input:focus{
    border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n){
    margin-right: 0;
}

.appointment-form .btn{
    clear: both;
    width: 100%;
}

.main-footer{
    margin-top: 65px;
    padding-top:60px;
    margin-bottom: 40px;
    color: white;
    background: url("../img/footer.jpg");
    }

.footer-contacts{
     width: 320px;
    float: left;
    margin-right: 60px;
}

.footer-contacts p{
    margin-bottom: 0;
}
.footer-social {
    width: 180px;
    float: left;
    min-height: 90px;
    text-align: center;
}

.footer-copyright {
    max-width: 180px;
    float: right;
}
.footer-contacts a{
    color: white;
}
.footer-contacts a:hover{
    text-decoration: none;
}
.footer-social p{
    margin-bottom: 15px;
}
.social-btn{
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    background:#000000 url("../img/sprite.png") no-repeat center;
    text-decoration: none;
    vertical-align: top;
    font-size: 0;
    transition:
            background-position 0.5s;
            background-color 0.5s;
}

.social-btn:hover{
    background-color: white;
}

.social-btn-vk{
    background-position: 0 0;
}

.social-btn-fb{
    background-position: -49px 0;
}

.social-btn-inst{
    background-position: -98px 0;
}

.social-btn-vk:hover{
    background-position: 0 -63px;
}

.social-btn-fb:hover{
    background-position: -50px -63px;
}

.social-btn-inst:hover{
    background-position: -99px -63px;
}
.footer-copyright p{
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn{
    margin-right: 0;
}